@import url(lato.min.css);

h1,h2,h3,h4,h5,h6 { margin:0;}
a { text-decoration: none; color: #B90000; }
a:focus { outline: none; }
ul { list-style-type: none; }
ul.unstyled, ul.unstyled * { list-style-type: initial; }

body { font-family: 'Lato'; margin: 0;}

.wrap {
	border: 1px solid #B90000;
	margin: 0 20%;
	box-sizing: border-box;
}

header {
	background-color: #F8F8F8;
	height: 170px;
	background-image: url(../img/logo.png);
	background-position: 10% 60px;
	background-size: 150px;
	background-repeat: no-repeat;
}

header h1, header h2 {
    font-weight: 300;
    font-family: 'Lato';
	text-align: center;
}

header h1 { font-size: 22pt; }
header h2 { font-size: 10pt; }

header .titleBlock {
	padding-top: 65px;
	margin-left: 30%;
	color: #B90000;
}

/* Mobile menu */

#showMenu {display: none;}

label[for='showMenu'] {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 15px;
	display: none; 
}

label[for='showMenu'] span {
	border: 1px solid #B90000;
	width: 3px;
	height: 3px;
	display: inline-block;
	border-radius: 50%;
}

label[for='showMenu'] span::before, label[for='showMenu'] span::after {
    content: "";
    border: 1px solid #B90000;
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 50%;
    bottom: 0px;
}

label[for='showMenu'] span::after { margin: 0px 0 6px -1px; }
label[for='showMenu'] span::before { margin: 0px -2px 0px -1px;}


.separator {
	background-color: #B90000;
	height: 12px;
}

/* sidebar */

nav {
    display: table-cell;
	background-color: #B90000;
	font-weight: 300;
	min-width: 210px; /* Per tutte le risoluzioni */
}
	nav a {color: #FFF; display: block; padding: 15px 30px;}
	nav ul {margin: 0; padding: 0;}
		nav li.active {
			background-color: #D30000;
			box-shadow: 0 1px 5px rgba(0,0,0,0.2);
			margin-right: -5px;
		}
		nav li:not(.active):hover { background-color: #AE0000; }

/* corpo */
article {display: table-cell;}
h3 {
    font-size: 16pt;
    margin-top: 20px;
}

#pagedesc { font-weight: 300; }

.content {
	margin: 0 30px;
}

	.content li {
	    margin-bottom: 15px;
	}
	
	/* icona link esterno ad eccezione per i link-mail */
	.content a[href*="//"]:not([href*="www.dsi.unive.it/~architet"]):not(.mail)::after {
	    content: "";
	    background-image: url(../img/externalink.svg);
	    width: 10px;
	    height: 10px;
	    background-size: 10px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    margin-left: 5px;
	}
	
	.content * {text-align: justify}


/* icone di stampa e mail */

i.print, i.mail, .mail::after {
    background-repeat: no-repeat;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;	
}

/* icone di stampa */
i.print {
    background-image: url(../img/printer.svg);
	background-size: 20px 20px;
	width: 20px;
}

/* icona mail */
i.mail, .mail::after {
    background-image: url(../img/mail.svg);
	background-size: 15px 20px;
	width: 20px;
    margin-bottom: 6px;
}

.mail::after {
	content: "";
	height: 15px;
}

/* footer */
footer .credits {
	padding: 8px;
	text-align: right;
	font-weight: 300;
}
footer .credits b {font-weight: 400;}
footer .credits > div { font-size: 9pt; }


/* Tablet -> Desktop */
@media screen and (max-width: 1200px){
	.wrap { margin: 0 10%; }
}

/* Smartphone -> Tablet */
@media screen and (max-width: 768px){
	.wrap { margin: 0 }

		header { background-size: 130px; background-position: 4% 80px; background-image: url(../img/logo05.png); }
			header .titleBlock {margin-left: 20% }
			header h1 {font-size: 20pt}
		nav {
			min-width: 100px;
		}
}

/* Smartphone */

@media screen and (max-width: 420px){
	ul {padding: 0 0 0 10px;}
	header {
		background-position: 50%;
		background-size: 100px 100px;
	}
	
		header .titleBlock { margin-left: 0;}
	
			header h1 {font-size: 20pt}
			header h2 {font-weight: 400; font-size: 9pt}
			header h1, header h2 { background-color: rgba(255,255,255,0.3); }

	nav { display: inherit; height: 0; transition: all .5s; overflow: hidden;}
		
		nav li.active { margin: 0;}
	
	label[for='showMenu'] { display: initial; }
	
	#showMenu:checked + nav {
		height: 400px;
	}
	
	.content {margin: 0 20px 0 20px; }
}